:root {
        --ic-brand-primary-darkened-5: #201C6B;
--ic-brand-primary-darkened-10: #1E1B65;
--ic-brand-primary-darkened-15: #1D1960;
--ic-brand-primary-lightened-5: #2C2877;
--ic-brand-primary-lightened-10: #37337E;
--ic-brand-primary-lightened-15: #423E85;
--ic-brand-button--primary-bgd-darkened-5: #201C6B;
--ic-brand-button--primary-bgd-darkened-15: #1D1960;
--ic-brand-button--secondary-bgd-darkened-5: #DE902D;
--ic-brand-button--secondary-bgd-darkened-15: #C78128;
--ic-brand-font-color-dark-lightened-15: #423E85;
--ic-brand-font-color-dark-lightened-30: #63609A;
--ic-link-color-darkened-10: #6BAFCF;
--ic-link-color-lightened-10: #83C8E7;
--ic-brand-primary: #211d70;
--ic-brand-font-color-dark: #211d70;
--ic-link-color: #76c2e5;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #e9972f;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #211d70;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #211d70;
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #ffffff;
--ic-brand-header-image: url('https://instructure-uploads-apse1.s3-ap-southeast-1.amazonaws.com/account_116930000000000001/attachments/54/bits_logo.png');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads-apse1.s3-ap-southeast-1.amazonaws.com/account_116930000000000001/attachments/53/bits_logo.png');
--ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-eda8889e7b.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads-apse1.s3-ap-southeast-1.amazonaws.com/account_116930000000000001/attachments/55/BITS_university_logo%20%25281%2529.gif');
--ic-brand-Login-body-bgd-color: #394B58;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/login/canvas-logo-5617606953.svg');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }